<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Property_Dealing.Properties.Settings.saibanConnectionString"
            connectionString="Data Source=.;Initial Catalog=saiban;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>